% -*- mode: erlang -*-
%{erl_opts, [debug_info, {d,debug}]}.
{deps, [
  {lager, ".*",
    {git, "git@git.in.trueex.com:deps/lager.git", {tag, "80f5ffbe04c4d0cf7052bf78701c1d7cb2c1fbed"}}},
  {amqp_client, ".*",
    {git, "git@git.in.trueex.com:deps/amqp_client.git", {tag, "ad6f224a658846486045dfa1f4392a2e2472750c"}}},
  {rabbit_common, ".*",
    {git, "git@git.in.trueex.com:deps/rabbit_common.git", {tag, "3118f24dfe72527b4a173b231393591e41f97278"}}},
  {'bson', ".*",
    {git, "git@git.in.trueex.com:deps/bson.git", {tag, "66b6c567570ec206b1999943d6e80e2eef88456e"}}}
]}.
