% -*- mode: erlang -*-
%{erl_opts, [debug_info, {d,debug}]}.
{deps, [
  {lager, ".*",
    {git, "git@git.in.trueex.com:deps/lager.git", {tag, "80f5ffbe04c4d0cf7052bf78701c1d7cb2c1fbed"}}},
  {amqp_client, ".*",
    {git, "git@git.in.trueex.com:deps/amqp_client.git", {tag, "acc841bd26a51e35eb8f0f883bb647dfd94cb382"}}},
  {rabbit_common, ".*",
    {git, "git@git.in.trueex.com:deps/rabbit_common.git", {tag, "d5f14fa40ebf1dc330eaf19f8fb9fbc8a90424e2"}}},
  {'bson', ".*",
    {git, "git@git.in.trueex.com:deps/bson.git", {tag, "66b6c567570ec206b1999943d6e80e2eef88456e"}}}
]}.
